<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ipFiltering" type="Climax.Web.Http.Configuration.IpFilteringSection, Climax.Web.Http" />
  </configSections>
  <ipFiltering>
    <ipAddresses>
      <add address="192.168.0.196" />
      <add address="192.168.0.197" denied="true" />
    </ipAddresses>
  </ipFiltering>
</configuration>